<!DOCTYPE html>
<html>

<head>
    <title>Noted</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body style="background-color: black;">

    <div class="upper">
        <button id="signup">Sign up</button>
        <button id="signin">Sign in</button>
    </div>

    <div class="brand">
        <p class="eye">Noted</p>
    </div>
    <div class="main_landing">
        <div style="display: grid;margin-right: 2%;">
            <div class="eye_catcher">If it is not written down, it does not exist.</div>
            <div class="description">
                Noted is a sleek, intuitive note-taking app designed to capture your thoughts, ideas, and to-dos effortlessly. Whether you're jotting down quick notes, organizing detailed research, or creating to-do lists, Noted keeps everything neatly in one place.
            </div>
        </div>
        <div class="image_landing">
            <img src="logo.PNG" class="logo">
        </div>
    </div>

    <div class="background">
        <div class="description">

        </div>
    </div>

    <div class="display">
        
    </div>

    <footer>

    </footer>
    <script src="../landing.js"></script>
</body>
</html>