<!DOCTYPE html>
<html>

    <head>
        <title>Noted</title>
        <link rel="stylesheet" href="../main.css">
    </head>

    <body>
        <input type="hidden" id="usr_id" value="<%=id%>">
        <div class="brand">Noted</div>
        <div class="upper">
            <button class="signout" id="signout">Sign out</button>
        </div>

        <div class="upper_lower">
            <button class="add_note" id="add">Add new note</button>
            <button class="save_note" id="save">Save note</button>
        </div>
        <div class="notes" style="min-height:80vh ;">
                <div class="my_notes" id="my_notes">
                    <% notes.forEach(note => { %>
                        <div class="wrapper">
                            <input class="note" id="<%= note %>" value="<%= note %>" readonly>
                            <div class="edit">EDIT</div>
                            <div class="delete">DELETE</div>
                        </div>
                    <% }); %>
                </div>
            <div class="current_note">
                <p class="pointer" id="pointer"></p>
                <textarea class="note_content" id="input">
                    
                </textarea>
            </div>
        </div>
        <script src="../main.js"></script>
    </body>
</html>