<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="background-color: blueviolet;">

        <div class="back">
            <a href="/" style="background-color: blueviolet;"><img src="home.png" class="home" style="width:15%;height: 15%;"></a>
        </div>

        <div class="popup" id="popup">
            <div class="x" id="x">X</div>
            <p class="message">Invalid credentials</p>
        </div>
        <form class="sign_box" method="POST">
            <input class="sign_inp" id="mail" placeholder="Enter email adress">
            <input class="sign_inp" id="password" placeholder="Enter password" type="password">
            <button class="submit" id="submit2" type="button">Sign in</button>
        </form>

    <script src="../sign.js"></script>
    </body>
</html>