<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../style.css">
    </head>

    <body style="background-color: blueviolet;">

        <div class="back">
            <a href="/" style="background-color: blueviolet;"><img src="home.png" class="home" style="width:15%;height: 15%;"></a>
        </div>

        <form class="sign_box" method="POST">
            <input class="sign_inp" id="mail" placeholder="Enter email adress">
            <input class="sign_inp" id="username" placeholder="Enter username">
            <input class="sign_inp" id="password" placeholder="Enter password" type="password">
            <button class="submit" id="submit" type="button">Sign up</button>
        </form>

    <script src="../sign.js"></script>
    </body>
</html>